


<div class = "container padded-top">
  <h1>This is my title</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat lorem purus, non facilisis augue suscipit a. Vivamus et dictum felis.
     Pellentesque et nibh sed dolor gravida feugiat congue vitae enim. Phasellus convallis odio nec neque scelerisque tristique. Sed nec luctus nibh.
      Vestibulum neque urna, egestas quis suscipit a, tincidunt eget dui. Aenean efficitur ligula tortor, vel malesuada libero ullamcorper vitae.
      Nulla vitae erat sed lectus pretium pharetra. Praesent sed mauris nibh. Maecenas posuere sapien nec ligula feugiat consequat.
       Praesent malesuada nunc eget ante molestie, aliquet dictum eros ornare.
     Mauris convallis finibus orci eu convallis. Curabitur in libero lacus.</p>

     <!--left panel element -->
     <div class = "col-sm-6 padded-top">
       <div class = "panel panel-default panel-shadowed">
         <div class = "row">

          <!--Panel content-->
           <div class = "panel-body">
              <h3 class = "padding-left-5">Panel Header</h3>

              <%= render 'customers/form'%>
          </div>
          <!--/panel content -->

          <!-- Button Generic-->
           <div class = "col-sm-offset-4 col-sm-4 padding-bottom-5">
             <div class="actions">
               <button type="submit" class = "btn btn-primary btn-lg btn-block btn-theme"  name="commit"/>Button</button>
             </div>
           </div>
           <!--/button generic-->

         </div>
       </div>
     </div>
     <!--/left panel element -- >

     <!--right panel element -->
     <div class = " col-sm-6 padded-top">
       <div class = "panel panel-default panel-shadowed">
         <div class = "row">

          <!--Panel content-->
           <div class = "panel-body">
              <h3 class = "padding-left-5">Panel Header</h3>
              <p class = "padding-left-5 padding-right-5 padding-bottom-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat lorem purus, non facilisis augue suscipit a. Vivamus et dictum felis.
                  Pellentesque et nibh sed dolor gravida feugiat congue vitae enim. Phasellus convallis odio nec neque scelerisque tristique. Sed nec luctus nibh.
                   Vestibulum neque urna, egestas quis suscipit a, tincidunt eget dui. Aenean efficitur ligula tortor, vel malesuada libero ullamcorper vitae.
                   Nulla vitae erat sed lectus pretium pharetra. Praesent sed mauris nibh. Maecenas posuere sapien nec ligula feugiat consequat.
                    Praesent malesuada nunc eget ante molestie, aliquet dictum eros ornare.
                  Mauris convallis finibus orci eu convallis. Curabitur in libero lacus.</p>
          </div>
          <!--/panel content -->

          <!-- Button Generic-->
           <div class = "col-sm-offset-4 col-sm-4 padding-bottom-5">
             <div class="actions">
               <button type="submit" class = "btn btn-primary btn-lg btn-block btn-theme"  name="commit"/>Button</button>
             </div>
           </div>
           <!--/button generic-->

         </div>
       </div>
     </div>
     <!--/right panel element -- >

<!--/container -->
</div>
